:root{
    --color-slidebar: rgb(228, 146, 54);    
    --color-main: rgb(211, 211, 211);
    --color-texto: rgba(49, 47, 47, 0.836);
}

/*dashboard styles*/

.form-box input, textarea{
    width: 100%;
    border: 2px dotted #ccc;
    background: #f5f5f5;
    color: #202020;
    padding: 12px;
    text-transform: capitalize;
    border-radius: 4px;
    opacity: 1;
    min-height: 54px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.form-box input::placeholder, textarea::placeholder{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: black;
}

.hvr-underline-from-center{
    background: #e75b1e;
    border: 3px solid #e75b1e;
    color: #fff;
    min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.hvr-underline-from-center:hover{
    background: none;
    color: #202020;
}


/* rest */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    color: var(--color-texto);
}

/* slidebar */
.slidebar{
    position: fixed;
    background-color:rgba(228, 146, 54);
    color: beige;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    display: block;
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

.slidebar h2 {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
/* elementos slidebar */
.element-slidebar {
    display: block;
    margin-bottom: 10px;
    color: rgb(233, 224, 224);
    transition: color 0.3s ease, font-size 0.3s ease;
}

.element-slidebar-btn {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

.element-slidebar img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.element-slidebar-content a {
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
    font-size: 16px;
}
/* formulario salir en plantilla */
.element-slidebar-content .logout-link {
    display: block;
    background: none;
    border: none;
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
    font-size: 16px;
}

.profile{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.profile img{
    border-radius: 50%;
}

.element-slidebar-content {
    display: none;
}

.element-slidebar:hover {
    color: white;
    font-size: 20px;
}

/* desplegar items de elemento del slidebar */
.element-slidebar.active .element-slidebar-content {
    display: block;
    border-bottom: 1px solid rgb(179, 176, 176);
}
/* main */
.main{
    margin-left: 250px;
    background-color: var(--color-main);

    height:100vh;
}

/* header */
.header {
    border-bottom: 2px solid rgb(145, 139, 139);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

 .menu-hamburger {
    display: none;
    border: none;
    font-size: 30px;
    color: black;
}
 .container-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}  
/* cards*/ 
.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px;
    padding-bottom: 10px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.cabecera {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    border-bottom: 1px solid rgb(168, 167, 167);
    height: 80%;
    margin-bottom: 10px;
}

.cabecera img {
    width: 50px;
    height: 50px;
}

.container-graficas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 10px;
    margin: 20px;
    height: 380px;
}

.container-graficas img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .main {
        margin: 0;
    }
    .slidebar {
        transform: translateX(-100%);
    }
    .menu-hamburger {
        display: block;
    }
    .slidebar.hidden {
        transform: translateX(0);
        transition: transform 0.3s ease;
    }
}

.logooo {
    display: inline-block; 
    width: 150px; 
    height: 150px; 
    overflow: hidden; 
}

.logooo img {
    width: 100%; 
    height: auto; 
    display: block; 
    border-radius: 1px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* slow motion */
html {
    scroll-behavior: smooth;
}
